@mixin container() {
    margin: {
        left: auto;
        right: auto;
    }

    width: 100%;

    @include respond-to("small") {
        max-width: map_get($breakpoints, "small");
    }

    @include respond-to("medium") {
        max-width: map_get($breakpoints, "medium");
    }

    @include respond-to("large") {
        max-width: map_get($breakpoints, "large");
    }

    @include respond-to("x-large") {
        max-width: map_get($breakpoints, "x-large");
    }

    @include respond-to("xx-large") {
        max-width: map_get($breakpoints, "xx-large");
    }
}
