.container {
    width: 100%;

    @include margins--auto;

    @include respond-to("small") {
        max-width: 640px;
    }

    @include respond-to("medium") {
        max-width: 768px;
    }

    @include respond-to("large") {
        max-width: 1024px;
    }

    @include respond-to("x-large") {
        max-width: 1280px;
    }
}
