.navbar {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: black;

    &__nav {
        // navbar__nav
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1rem;
    }

    &__mobile {
        // navbar__mobile
        // this is a grouping of the brand text/image and
        // the mobile hamburger menu
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__brand {
        // navbar__brand
        max-width: 14rem;
        min-width: 12rem;
    }

    &__hamburger {
        // navbar__hamburger
        font-size: 2rem;
        padding: 0.5rem 1rem;
        line-height: normal;
        cursor: pointer;
    }

    &__items {
        // navbar__items
        display: none;
        text-align: center;
        width: 100%;
        margin: 0.5rem 0;

        &.active {
            // navbar__items active
            display: block;
        }
    }

    &__item {
        // navbar__item
        margin: 1rem 0.5rem;
        padding: 0.25rem 0.25rem;

        &:hover,
        &:hover::after,
        &.active,
        &--dropdown-active {
            background-color: $primary;
            color: $white;
        }

        &--dropdown-active {
            // navbar__item--dropdown-active
            > .navbar__link--dropdown::after {
                content: "\f077"; // down chevron
            }

            > .navbar__dropdown {
                display: block;
                // transition: 0.5s;
            }
        }

        &.navbar__item--sub {
            // navbar__item navbar__item--sub
            margin: 0.5rem 0; // this is the spacing between the elements
        }
    }

    // This includes all of the dropdown links as well
    &__link {
        // navbar__link
        padding: 0.5rem 1rem; // this makes the link bigger so it's easier to click
        cursor: pointer; // turn the cursor into a pointer when hovering over a link

        &--dropdown::after {
            // This is the down chevron for the dropdown
            font-family: "Font Awesome 5 Free";
            font-size: 0.8rem;
            line-height: 16px;
            font-weight: 900;
            content: "\f078"; // down chevron
            padding-left: 5px;
        }
    }

    &__dropdown {
        // navbar__dropdown
        display: none;
        padding: 1rem 0;
    }
}

@include respond-to("x-large") {
    .navbar {
        // The direct parent of every element
        &__nav {
            // navbar__nav
            flex-direction: row;
        }

        &__hamburger {
            // navbar__hamburger
            visibility: hidden;
            display: none;
        }

        &__items {
            // navbar__items
            display: flex;
            margin: 0;
        }

        &__item {
            // navbar__item
            margin: 0rem 0.5rem;

            // Remove the margin for the element on the right
            // as this element should be all the way up against
            // the right side of the screen
            &:last-of-type {
                margin-right: 0;
            }

            position: relative; // this allows us to poisition the dropdowns below the items

            &--dropdown-active {
                // navbar__item--dropdown-active
                > .navbar__dropdown {
                    display: flex;
                }
            }
        }

        &__link {
            // navbar__link
            text-align: center;
            white-space: nowrap; // do not wrap any text
        }

        &__dropdown {
            // navbar__dropdown
            position: absolute; // put the subnav below the parent link
            left: 0;
            top: 2.5rem;

            background-color: $white;
            color: $black;

            flex-direction: column;

            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 0rem 1.5rem;
        }
    }
}
