.navbar {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: black;

    // The direct parent of every element
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1rem;
    }

    // This is a grouping of the brand text/image and
    // the mobile hamburger menu
    &__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    // This is the brand text/image
    &__brand {
        font-size: 2rem;
    }

    &__hamburger {
        font-size: 2rem;
        padding: 0.5rem 1rem;
        line-height: normal;
        cursor: pointer;
    }

    &__items {
        display: none;
        text-align: center;
        width: 100%;

        &.active {
            display: block;
        }
    }

    &__item {
        margin: 1.5rem 0; // vertical spacing between items
    }

    // This includes all of the dropdown links as well
    &__link {
        padding: 0.5rem 1rem; // this makes the link bigger so it's easier to click
        cursor: pointer; // turn the cursor into a pointer when hovering over a link

        &:hover,
        &:hover::after {
            color: gold;
        }

        &--dropdown::after {
            // This is the down chevron for the dropdown
            font-family: "Font Awesome 5 Free";
            font-size: 0.8rem;
            line-height: 16px;
            font-weight: 900;
            content: "\f078"; // down chevron
            padding-left: 5px;
        }
    }

    &__dropdown {
        display: none;
        padding: 0.25rem;

        &--active {
            background-color: $grey;

            > .navbar__link--dropdown::after {
                content: "\f077"; // down chevron
            }

            > .navbar__dropdown {
                display: block;
            }
        }
    }

    &__sub-item {
        // This is the spacing between the elements
        margin: 1rem 0;
    }
}

@include respond-to("x-large") {
    .navbar {
        // The direct parent of every element
        &__nav {
            flex-direction: row;
        }

        &__hamburger {
            visibility: hidden;
            display: none;
        }

        &__items {
            display: flex;
        }

        &__item {
            margin: 0rem 1rem; // horizontal spacing between items

            // Remove the margin for the element on the right
            // as this element should be all the way up against
            // the right side of the screen
            &:last-of-type {
                margin-right: 0;
            }

            position: relative; // this allows us to poisition the dropdowns below the items

            // white-space: nowrap; // do not wrap any text
        }

        &__dropdown--active {
            background-color: white;

            > .navbar__dropdown {
                // Put the subnav below the parent link
                position: absolute;
                left: 0;
                top: 2rem;

                display: flex;
                flex-direction: column;

                background: white;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0rem 1.5rem;
            }
        }

        &__sub-item {
            margin: 1rem 0;
        }

        &__link {
            text-align: center;
            white-space: nowrap; // do not wrap any text
        }
    }
}
